body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgba(17,24,39,255);
}

.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}

.caja-izquierda {
    margin-right: 35px;
    margin-left: 50px;
    margin-top: 28px;
}

.caja-izquierda p {
    color: #ffff;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    margin-right: 520px;
}

.boton-01 {
    display: block;
    width: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgba(37,99,235,255);
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 45px;
    color: #ffff;
    text-decoration: none;
}

.boton-02 {
    display: block;
    width: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: rgba(22,60,99,255);
    border-radius: 10px;
    padding: 15px 30px;
    margin-top: 45px;
    color: #ffff;
    text-decoration: none;
}

.boton-02:hover {
    background-color: transparent;
    border: 2px solid rgba(41,151,188,255);
    color: rgba(41,151,188,255);
}

.boton-01:hover {
    background-color: transparent;
    border: 2px solid rgba(41,151,188,255);
    color: rgba(41,151,188,255);
}

.caja-derecha {
    margin-top: 90px;
    margin-right: 90px;
} 

.slider {
    width: 700px;
    max-width: 100vw;
<<<<<<< HEAD
    height: 280px;
=======
    height: 500px;
>>>>>>> 094e4f893516f89323a2d851c51f821770475eaa
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.list img {
    width: 800px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(240, 255, 255, 0.324);
    color: rgb(0, 0, 0);
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.dots {
    position: absolute;
    bottom: 10px;
    color: rgb(0, 0, 0);
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.401);
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}

.dots li.active {
    width: 30px;
}

@media screen and (max-width: 600px) {
    .slider {
        width: 530px;
        height: 400px;
        margin-right: 20px;
        margin-left: 10px;
    }

    .contenedor {
        flex-direction: column;
        padding: 0px;
    }

    .caja-izquierda {
        margin-top: 10px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .caja-derecha {
        margin-top: 40px;
        margin-right: 10px;
        margin-left: 10px;  
    }

    .list img {
        width: 530px;
        max-width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    
    .botones {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        margin-right: 180px;
    }
}
