* {
    padding: 0;
    margin: 0;
}

.contenedor {
    display: flex;
    align-items: center;
}

.caja-izquierda, .caja-derecha {
    padding: 80px;
    max-width: 100%;
}

.logos {
    padding: 7px;
    width: 50px;
    height: 44px;
}